.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
distд
site
.coverage
coverage.xml
.netlify

app.log
env3.*
env
__.env
/__.env
*.env
venv
pgdata
docker-compose.yml
docker-compose.override.yml
*.egg-info