# POSTGRESQL CONFIGURATION
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_EXTERNAL_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=new_db

# STARTUP CONFIGURATION
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
OPENAPI_URL=/swagger/docs/v1.0/project
DOCS_URL=/docs

# BROKER
RABBIT_HOST=localhost
RABBIT_PORT=56721
RABBIT_USER=rabbit
RABBIT_PASSWORD=rabbit
RABBIT_EXCHANGE_NAME=user