# ============================================
# PostgreSQL (global)
# ============================================
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_EXTERNAL_PORT=54331
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=postgres
VACANCY_DATABASE=vacancy.db
SEARCH_DATABASE=search.db
USER_DB=user.db
AUTH_DB=auth.db
# ============================================
# Frontend (Vite)
# ============================================
VITE_SEARCH_API=http://localhost:8000
VITE_VACANCY_API=http://localhost:8001
