# ============================================
# PostgreSQL (global)
# ============================================
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_EXTERNAL_PORT=54331
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=postgres
VACANCY_DATABASE=vacancy.db
SEARCH_DATABASE=search.db
USER_DB=user.db
AUTH_DB=auth.db
# ============================================
# RabbitMQ
# ============================================
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_EXTERNAL_PORT=56721
RABBITMQ_MANAGEMENT_EXTERNAL_PORT=15671
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
