.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify

app.log
env3.*
env
.env
*.env
venv
.venv
pgdata
docker-compose.yaml
docker-compose.override.yml
*.egg-info
.ruff_cache
