# POSTGRESQL CONFIGURATION
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_EXTERNAL_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=new_db

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CLIENT_ID=ccheck-service
KAFKA_ACKS=all
KAFKA_ENABLE_IDEMPOTENCE=true
KAFKA_RETRIES=10
KAFKA_RETRY_BACKOFF_MS=1000
KAFKA_DELIVERY_TIMEOUT_MS=120000
KAFKA_REQUEST_TIMEOUT_MS=30000
KAFKA_SOCKET_TIMEOUT_MS=30000
KAFKA_LINGER_MS=5
KAFKA_BATCH_SIZE=16384
KAFKA_COMPRESSION_TYPE=snappy

# TELEGRAM CONFIGURATION
TG_API_ID=your_api_id
TG_API_HASH=your_api_hash
TG_CHANNELS=@channel1,@channel2
TG_SESSION_NAME=tg_search_session

# STARTUP CONFIGURATION
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
OPENAPI_URL=/swagger/docs/v1.0/project
DOCS_URL=/docs
