# ============================================
# PostgreSQL
# ============================================
POSTGRES_HOST=ccheck-db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=postgres
AUTH_DATABASE=auth.db
USER_DATABASE=user.db
SEARCH_DATABASE=search.db
VACANCY_DATABASE=vacancy.db