# POSTGRESQL CONFIGURATION
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_EXTERNAL_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=new_db

# AUTH CONFIGURATION
AUTHENTICATE_URL=http://localhost:9000/api/v1/auth/authenticate

# RABBITMQ CONFIGURATION
RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_USER=user
RABBIT_PASSWORD=user_pwd
RABBIT_EXCHANGE_NAME=user
RABBIT_QUEUE_NAME=user.queue
RABBIT_ROUTING_KEYS=user.*
RABBIT_RECONNECT_ATTEMPTS=10
RABBIT_RECONNECT_INITIAL_DELAY_SECONDS=1
RABBIT_RECONNECT_MAX_DELAY_SECONDS=60

# STARTUP CONFIGURATION
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
OPENAPI_URL=/swagger/docs/v1.0/project
DOCS_URL=/docs
